@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	padding: 0;
	margin: 0;
	bottom: 0;
}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

a {
	background-color: transparent;
	text-decoration: none;
}

b,
strong {
	font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
	border-style: none;
}

ul,
li {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

input,
button,
textarea {
	font-weight: inherit;
}

html {
	scroll-behavior: smooth;
}

:root {
	--bg-color: #F2F2F2;
	--text-color: #383838;
	--red-color: #EE99BB;
	--gray-color: #959595;
}

body.overflow-hidden {
	overflow: hidden;
}


.h2 {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 400;
	color: var(--text-color);
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: var(--gray-text);
	text-transform: uppercase;
	margin-bottom: 24px;
}

.link {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
	padding-right: 100px;

}

.link::after {
	position: absolute;
	content: '';
	top: 50%;
	right: 0;
	width: 42px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--red-color);
	transform: translate(0%, -50%);
}

.link::before {
	position: absolute;
	content: '';
	top: 50%;
	right: 15px;
	width: 55px;
	height: 10px;
	background-image: url('../images/arrow.svg');
	background-repeat: no-repeat;
	transform: translate(0%, -50%);
	z-index: 2;
}


/* Header */
.header {
	padding-top: 60px;
	background-color: var(--bg-color);
}

.header__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__navigation-ul {
	display: flex;
	align-items: center;
	gap: 0px 32px;
}

.header__navigation-a {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--text-color);
}

.header__button-menu {
	position: relative;
	display: none;
	width: 40px;
	height: 20px;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 11;
}

.header__button-line {
	position: absolute;
	content: '';
	height: 2px;
	right: 0;
	background-color: var(--text-color);
}

.line-1 {
	top: 0px;
	transition: all 0.5s ease-in-out;
	width: 50%;
}

.line-2 {
	top: 10px;
	transition: all 0.5s ease-in-out;
	width: 75%;

}

.line-3 {
	top: 20px;
	transition: all 0.5s ease-in-out;
	width: 100%;

}

.header__button-menu.active>.line-1 {
	top: 50%;
	transform: rotate(45deg);
	width: 100%;
}

.header__button-menu.active>.line-2,
.header__button-menu.active>.line-3 {
	top: 50%;
	transform: rotate(-45deg);
	width: 100%;
}

/* Menu Mobile*/
.menu-mobile {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background: var(--bg-color);
	width: 0%;
	height: 0%;

}

.menu-mobile.show {
	display: block;
	opacity: 1;
	width: 100%;
	height: 100%;
}

.menu-mobile-ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	gap: 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Main */
.main {
	background-color: var(--bg-color);
	height: 91.6vh;
}

.main__container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 200px 20px 0px 20px;
	height: 76.3%;
	display: flex;
	justify-content: space-between;
}

.main__info-bg-img {
	position: absolute;
	bottom: -10px;
	right: 0px;
}

.main__links-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20px;
	height: 60%;
}

.main__link-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--gray-text);
	width: max-content;
	transform: rotate(-90deg);
}

.main__link-line {
	width: 1px;
	height: 100px;
	background-color: var(--gray-text);
}

.main__link-flex {
	display: flex;
	flex-direction: column;
	gap: 16px 0px;
}

.main__info-block {
	padding-right: 270px;
	z-index: 2;
}

.main__info-h1 {
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 400;
	color: var(--text-color);
	margin-bottom: 80px;
}

.main__info-link {
	display: inline-block;
	margin-bottom: 146px;
}

.main__info-new-block {
	display: flex;
	gap: 0px 16px;
}

.main__info-new-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: var(--text-color);
}

.main__info-new-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	max-width: 200px;
	color: var(--gray-text);
	line-height: 140%;
}


/* Popular */
.popular {
	padding-top: 220px;
}

.popular__container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}

.popular__head {
	margin-bottom: 60px;
}

.popular__content {
	display: flex;
	justify-content: space-between;
}

.popular__content-ul {
	display: flex;
	flex-direction: column;
	gap: 32px 0px;
}

.popular__content-button {
	background: transparent;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.popular__content-button.active {
	color: var(--red-color);
}

.popular__content-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 270px));
	grid-template-rows: repeat(3, 155px);
	gap: 32px;
}

.popular__content-item {
	width: 100%;
	height: 100%;
}

.popular__content-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-item-1 {
	grid-row: 1 / 4;
}

.grid-item-2 {
	grid-row: 1/3;
	grid-column: 2/4;
}

.grid-item-3 {
	grid-row: 3/4;
	grid-column: 2/4;
}

.popular__content-item-desc {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: var(--text-color);
	line-height: 140%;
}


/* About */
.about {
	padding-top: 260px;
}

.about__container {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__container::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 80%;
	aspect-ratio: 1;
	background-color: var(--bg-color);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.about__first-col {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.about__info-objects {
	width: 240px;

}

.about__info-number {
	font-family: 'Playfair Display', serif;
	font-size: 74px;
	color: var(--text-color);
	margin-bottom: 24px;
}

.about__info-number-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 130%;
	color: var(--gray-text);
}

.about__second-col {
	max-width: 400px;
}

.about__h2 {
	margin-bottom: 36px;
}

.about__text-info {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 140%;
	font-weight: 400;
	color: var(--gray-text);
	margin-bottom: 60px;
}

/* Video */
.video {
	padding-top: 240px;
}

.video__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}

.video__video-block {
	width: 100%;
	height: 100%;
}

.video__text-block {
	margin-bottom: 36px;
}


/* Partners */
.partners {
	padding-top: 240px;
}

.partners__container {
	max-width: 1200px;
	padding: 0px 20px;
	margin: 0 auto;
}

.partners__h2 {
	margin-bottom: 36px;
}

.partners__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	flex-wrap: wrap;
}


/* Footer */
.footer {
	margin-top: 140px;
	background-color: var(--bg-color);
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 48px 20px;
}

.foooter__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.foooter__content a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-color);
}

@media (max-width: 1160px) {
	.popular__content {
		flex-direction: column;
		gap: 40px 0px;
	}

	.popular__content-ul {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
	}
}

@media (max-width: 820px) {
	.main__links-block {
		display: none;
	}
}

@media (max-width: 720px) {
	.header__button-menu {
		display: block;
	}

	.header__navigation-block {
		display: none;
	}

	.main__info-block {
		padding-right: 0;
	}

	.main__info-bg-img {
		display: none;
	}

	.about__container {
		flex-direction: column;
		align-items: start;
	}

	.about__container::before {
		display: none;
	}

	.about__first-col {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 60px;
	}
}

@media (max-width: 560px) {
	.popular__content-grid {
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(6, 155px);
	}

	.grid-item-1 {
		grid-column: 1/2;

	}

	.grid-item-2 {
		grid-column: 1/2;
		grid-row: 4/6;
	}

	.grid-item-3 {
		grid-row: 6/7;
		grid-column: 1/2;

	}
}

@media (max-width: 520px) {
	.about__first-col {
		flex-direction: column;
		/* justify-content: space-between; */
	}

	.about__info-objects {
		width: 100%;
	}
}

@media (max-width: 420px) {
	.main__info-h1 {
		font-size: 52px;
	}
}